<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Task Scheduler</title>
</head>
<body>
<header>
    <h1>{{ session.username.capitalize() }}'s Task Scheduler</h1>
</header>
<main>
    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit" class="logout-btn">Log Out</button>
    </form>

<div class="dashboard-container">
    <!-- Task Form -->
    <div class="task-entry">
        <h2>Input Tasks Here</h2>
        <form action="{{ url_for('dashboard') }}" method="post">
            {{ form.csrf_token }}
            <input type="text" id="task" name="todo" placeholder="Enter task...">
            <select id="priority" name="priority">
                <option value="1">Top Priority</option>
                <option value="2">Middle Priority</option>
                <option value="3">Less Priority</option>
            </select>
            <input type="date" id="deadline" name="date">
            <button id="add-task" type="submit">Add Task</button>
        </form>
    </div>

    <!-- Task Table -->
    <div class="task-table">
        <h2>Your Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Priority</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tbody>
                {% set priorities = {1:"Top Priority", 2: "Middle Priority", 3: "Least Priority"} %}
                {% for todo in todos %}
                <tr>
                    <td>{{ todo.todo_text }}</td>
                    <td>{{ priorities[todo.todo_priority] }}</td>
                    <td>{{ todo.todo_date.strftime("%d %B %Y") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</main>
</body>

</html>